#chat-messages {
  background-color: #ccc;
  padding: 2vw;
}

.msg-bubble {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 2vw;
  width: 90vw;
  padding: 2vw;
  font-size: 4vw;
  margin-bottom: 2vw;
}

.msg-meta {
  font-weight: bold;
}

.msg-contents {
  
}

#typing-indicator {
  background-color: #ccc;
  color: #444;
  font-size: 4vw;
  padding: 2vw;
}

#typing-username {
  font-weight: bold;
}

#chat-form {
  display: flex;
  width: 100%
  position: -webkit-sticky; /* for browser compatibility */
  position: sticky;
  bottom: 0;
}

#chat-input {
  flex: 1;
  font-size: 4vw;
  outline: 0.25vw solid #ccc;
}

#chat-btn-send {
  background-color: #000088;
  color: #fff;
  font-weight: bold;
  font-size: 6vw;
}