#chat-messages {
  background-color: #ccc;
  padding: 2vw;
}

.msg-bubble {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 2vw;
  width: 90vw;
  padding: 2vw;
  font-size: 4vw;
  margin-bottom: 2vw;
}

.msg-name {
  font-weight: bold;
  margin-bottom: 1vw;
}

.msg-time {
  font-weight: bold;
  color: #666;
  margin-top: 0;
}

.msg-contents {
  
}

#typing-indicator {
  background-color: #ccc;
  color: #444;
  font-size: 4vw;
  padding: 2vw;
}

#typing-username {
  font-weight: bold;
}

#chat-form {
  display: flex;
  width: 100%
  position: -webkit-sticky; /* for browser compatibility */
  position: sticky;
  bottom: 0;
}

#chat-input {
  flex: 1;
  outline: 0.25vw solid #ccc;
  font: 4vw sans-serif;
  height: 15vw;
}

#chat-input::placeholder {
    font: 6vw sans-serif;
}

#chat-btn-send {
  background-color: #000088;
  color: #fff;
  font-weight: bold;
  font-size: 6vw;
}